@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

:root {
  --background: #ffffff;

  --color-text: #e0e0e0;
  --color-secondary: #171717;
  --border-color: #383838;

  --font-main: "Cascadia Code", sans-serif;
  --font-logo: "Kaushan Script", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: hidden;
}

/* UTILITIES STYLES */
body.modal-open {
  overflow: hidden;
  touch-action: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.padding {
  padding: 3rem 4rem;
}

.padding-x {
  padding: 0 4rem;
}

.padding-y {
  padding: 3rem 0rem;
}

.padding-top {
  padding-top: 3rem;
}

.padding-bottom {
  padding-bottom: 3rem;
}

.section__padding {
  padding: 6rem 4rem;
}

@media screen and (max-width: 1024px) {
  .padding {
    padding: 3rem 2rem;
  }

  .padding-x {
    padding: 0 2rem;
  }

  .section__padding {
    padding: 6rem 2rem;
  }
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text);
  letter-spacing: 1px;
  border: 2px solid var(--border-color);
  padding: 0.875rem 1.75rem;
  user-select: none;
  background-color: transparent;
  background-clip: padding-box;
  transition: border-color .25s ease-in-out ;
}

.btn:hover {
  border-color: var(--color-text);
  cursor: pointer;
}

.btn-footer {
  font-size: 0.75rem;
  padding: 1rem 1.75rem;
}

@media screen and (max-width: 992px) { 
  .btn-footer {
    font-size: 0.675rem;
    padding: 1rem 1.5rem;
  }
}

.text-hero {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.8);
}

.text-content {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;  
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.8);
}

.text-profile_title {
  font-size: 2rem;
  font-weight: 600;
}

.text-profile {
  font-size: 1.25rem;
  font-weight: 600;
}

.text-profile-item {
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) { 
  .text-hero {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) { 
  .text-profile_title {
    font-size: 1.5rem;
  }

  .text-profile {
    font-size: 1rem;
  }

  .text-profile-item {
    font-size: 0.875rem;
  }
}

/* SECTION STYLES */

/* HEADER STYLES */
.header {
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: fixed;
  inset: 0;
  z-index: 30;
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.header.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.header .header__logo-wrapper {
  background: var(--color-secondary);
  padding: 2.35rem 2rem;
}

h1.header-logo {
  font-family: var(--font-logo);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: .85;
}

h1.header-logo .logo__text-bottom {
  font-family: var(--font-main);
  font-size: 0.575rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) { 
  .header .header__logo-wrapper {
    padding: 1.75rem 1rem;
  }

  h1.header-logo {
    font-size: 1rem;
  }

  h1.header-logo .logo__text-bottom {
    font-size: 0.45rem;
  }
}

/* NAVBAR STYLES */
.nav .menu-toggle {
  position: relative;
  z-index: 25;
  background: var(--color-secondary);
  color: var(--color-text);
  padding: 0.725rem 0.65rem;
  border: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.nav .nav__menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  padding: 5.25rem 4.75rem 0 1.5rem;
  text-align: end;
  background: var(--color-secondary);
  overflow: auto;
  z-index: 20;
}

.nav .nav__menu-list {
  display: flex;
  flex-direction: column;
}

.nav .nav__menu-list .menu-link_list {
  margin-top: 1rem;
}

.nav__menu-list .menu-link_list .link {
  font-size: 1.35rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) { 
  .nav .nav__menu {
    padding: 5.25rem 3rem 0 1.5rem;
  }
}

@media screen and (max-width: 640px) { 
  .nav .nav__menu {
    width: 100vw;
  }
}

/* HERO STYLES */
.hero {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100svh;
}

.hero-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.hero .hero__video-wrapper {
  width: 100%;
  height: 100%;
}

.hero .hero__video-wrapper .hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

/* MAIN STYLES */
main {
  position: relative;
}

#main-sentinel {
  position: absolute;
  height: 1px;
  width: 100%;
  pointer-events: none;
}

/* CONTENT LIST CARD */
.content-list {
  margin-bottom: 418px;
}

.content-list__container {
  position: relative;
  z-index: 20;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.content-list .content-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 0.80;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  cursor: none;
}

.content-card .card_overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.content-card .card_image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-card .card_image-wrapper .card_image {
  object-fit: cover;
  object-position: center;
}

.content-card .card_title {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .content-list {
    margin-bottom: 0;
  }

  .content-list__container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }

  .content-list .content-card {
    aspect-ratio: 1 / 0.75;
  }
}

@media screen and (max-width: 640px) {
  .content-list__container {
    grid-template-columns: 1fr; /* full width on mobile */
  }
}

/* CONTENT DETAIL STYLES */
.hero-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 66.66vh;
  overflow: hidden;
}

.hero-detail .hero-detail__image-wrapper {
  position: relative;
  width: 100%;
  min-height: 66.66vh;
}

.hero-detail .hero-detail__image-wrapper .hero-detail_image {
  object-fit: cover;
  object-position: center;
}

.hero-detail .hero-detail__header {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-detail .hero-detail__image-wrapper .hero-detail_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  backdrop-filter: blur(3px);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
}

@media screen and (max-width: 992px) { 
  .main-detail {
    margin-bottom: 0 !important;
  }
}

.content-detail {
  position: relative;
  height: 100%;
  z-index: 20;
}

.content-detail .content-detail__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-detail .content-detail__container .detail_images-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 0.825rem;
}

.detail_images-container .detail_image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 0.70;
}

.detail_images-container .detail_image-wrapper_1 {
  position: relative;
  width: 100%;
  max-width: 285px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.detail_image-third-fourth {
  display: flex;
  align-items: center;
  gap: 25px;
}

.detail_image-third-fourth .detail_image-wrapper_3,
.detail_image-third-fourth .detail_image-wrapper_4 {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
}

.detail-image {
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1024px) { 
  .content-detail .content-detail__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .detail_image-third-fourth .detail_image-wrapper_3,
  .detail_image-third-fourth .detail_image-wrapper_4 {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
  }

  .detail_images-container .detail_image-wrapper_1 {
    max-width: 300px;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 640px) { 
  .detail_images-container .detail_image-wrapper_1 {
    max-width: 245px;
    aspect-ratio: 1 / 1;
  }

  .detail_image-third-fourth {
    gap: 18px;
  }
}

.content-detail__container .detail_profile-wrapper {
  position: relative;
}

.detail_profile-wrapper article.profile {
  position: absolute;
  padding: 8rem 6.5rem 2rem 6.5rem;
}

@media screen and (max-width: 1280px) { 
  .detail_profile-wrapper article.profile {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 1024px){ 
  .content-detail__container .detail_profile-wrapper {
    max-width: 580px;
    margin: 0 auto;
    padding: 8rem 2rem 6rem 2rem;
  }

  .detail_profile-wrapper article.profile {
    position: relative;
    padding: 0;
  }
}

@media screen and (max-width: 768px) { 
  .content-detail__container .detail_profile-wrapper {
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 640px) { 
  .content-detail__container .detail_profile-wrapper {
    padding: 2rem;
  }
}

article.profile .profile_title {
  margin-bottom: 1rem;
}

article.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article.profile .profile-part {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

article.profile .profile_other-names .other-names  {
  display: flex;
  gap: 3px;
}

article.profile .profile_body-life {
  display: flex;
  align-items: center;
  gap: 25px;
}

article.profile .profile_temperament .temperament-list {
  list-style: inside !important;
}

.profile_temperament .temperament-list li p {
  display: inline-block;
}

article.profile .profile_existence .profile_existence-article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 640px) { 
  article.profile .profile_title {
    margin-bottom: 0.45rem;
  }
}

.prev-next-page__container {
  position: relative;
  width: 100%;
  background: var(--background);
  padding: 2rem 8rem;
  z-index: 20;
}

.prev-next-page__container .prev-next-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) { 
  .prev-next-page__container {
    padding: 2rem 6.5rem;
  }
}

@media screen and (max-width: 768px) { 
  .prev-next-page__container {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 640px) { 
  .prev-next-page__container {
    padding: 2rem;
  }
}

.prev-next-page .prev-page,
.prev-next-page .next-page {
  display: flex;
  align-items: center;
  gap: 7px;
}

.prev-next-page .prev-page,
.prev-next-page .next-page {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.prev-next-page .prev-page .page-icon,
.prev-next-page .next-page .page-icon {
  margin-bottom: 1px;
  font-size: 1.25rem;
  font-weight: 600;
}

.prev-next-page .home-page {
  font-size: 1.65rem;
  color: var(--color-secondary);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width: 640px) { 
  .prev-next-page .prev-page,
  .prev-next-page .next-page {
    font-size: 0.825rem;
  }

  .prev-next-page .prev-page .page-icon,
  .prev-next-page .next-page .page-icon {
    margin-bottom: 1px;
    font-size: 1rem;
  }

  .prev-next-page .home-page {
    font-size: 1.45rem;
  }
}

/* FOOTER STYLES */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-secondary);
  padding-top: 9.5rem;
  padding-bottom: 9.5rem; 
}

.footer .footer-content__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.footer-link_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link_list .footer-title {
  font-size: 0.975rem;
}

.footer-link_list .footer-link {
  font-size: 0.875rem;
  font-weight: 300;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-social-media .social-media_icon {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .footer {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; 
  }

  .footer .footer-content__wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .footer-link_list .footer-title,
  .footer-link_list .footer-link {
    text-align: center;
  }

  .footer-link_list .footer-title {
    font-size: 0.925rem;
  }

  .footer-link_list .footer-link {
    font-size: 0.8rem;
  }
}